<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-rolagem.css">
    <title>Total de Clientes</title>
</head>

<body>
    <div class="tela-transacao">

        <div class="form-cabecalho">
            <div class="title">
                <h1>Clientes Cadastrados</h1>
            </div>
        </div>

        <div class="historico">
            <table border="1">
                <thead>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>CPF</th>
                    <th>Conta</th>
                    <th>Agência</th>
                </thead>
               
            </table>

        </div>

        <!-- Botões -->
        <div class="botao">
            <div class="voltar-button">
                <button><a href="menu.html">Voltar</a></button>
            </div>

    </div>
</body>