<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-abas.css">
    <title>Formulario de cadastro</title>
</head>

<body class="simulador-body">
    <!--IMAGEM PRINCIPAL-->
    <div class="transacao">
        <div class="form-image">
            <img src="imagens/calculator.svg">
        </div>
        
        <div class="form">
            <form method="post" action="/transacao/novo" onsubmit="return confirm('Confirma ação')">
                <div class="form-header">
                    <div class="title">
                        <h1>Simulador de transações</h1>
                    </div>
                </div>

                <!-- FORMULÁRIO DE TRANSFERENCIA -->
                <div class="input-transacao">

                    <div class="input-box">
                        <label for="conta-origem">Conta origem</label>
                        <input id="conta-origem" type="text" name="contaOrigem" placeholder="000000-0" required >
                    </div>

                    <div class="input-box">
                        <label for="conta-destino">Conta destino</label>
                        <input id="conta-destino" type="text" name="contaDestino" placeholder="000000-0" required >
                    </div>

                    <div class="input-box">
                        <label for="transferencia">Valor a transferir </label>
                        <input id="transferencia" type="text" name="valorTransacao" placeholder="valor do saldo">
                    </div>

                    <div class="input-box">
                        <label for="data">Data </label>
                        <input id="data" type="text" name="dataTransacao" placeholder="00/00/0000">
                    </div>

                    <div class="input-box">
                        <label for="tipo">Tipo da transação </label>
                        <input id="tipo" type="text" name="tipoTransacao" placeholder="tipo da transação">
                    </div>

                    <!--Botões-->

                    <div class="input-box">
                        <input type="submit" value="Simular">
                    </div>

                    <div class="voltar-button">
                        <button><a href="#">Voltar</a></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
