<!DOCTYPE html> 
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style-abas.css">
        <title>Cadastro de Usuários| Hellobank</title>
    </head>

    <body class="simulador-body">
        <!--MENU-->
    <input type="checkbox" id="check">
    <label for="check" type="menu">
        <img src="/imagens/menu.svg">
    </label>

    <nav>
        <ul>
            <li><a href="/Menu">Menu Principal</a></li>
            <li><a href="/Clientes">Cadastro de Clientes</a></li>
            <li><a href="/Usuario">Cadastro de Usuários</a></li>
            <li><a href="/Transacoes">Simulador de Transações</a></li>
            <li><a href="/Historico">Histórico de Transações</a></li>
            <li><a href="/ListaClientes">Lista de Clientes Cadastrados</a></li>
        </ul>
    </nav>

        <!--IMAGEM PRINCIPAL-->
        <div class="principal">
            <div class="form-image">
                <img src="/imagens/calculator.svg">
            </div>
            
            <div class="form">
                <form>
                    <div class="form-header">
                        <div class="title">
                            <h1>Cadastro de Usuários</h1>
                        </div>
                    </div>

                    <!-- FORMULÁRIO DE USUARIOS -->
                    <div class="input-transacao">

                        <div th:if="${erro != null}" th:text="${erro}" class="alert alert-danger" role="alert"></div>

                        <div class="input-box">
                            <i class="fa fa-envelope"></i>
                            <input type="text" placeholder="Usuário de login" name="usuario" required>
                        </div>

                        <div class="input-box">
                            <i class="fa fa-envelope"></i>
                            <input type="password" placeholder="Senha de login" name="senha" required>
                        </div>

                        <!--Botões-->

                        <div class="input-box">
                            <input type="submit" value="Cadastrar">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
