<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font awesone CDN link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Link CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Login | Hellobank</title>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check" type="menu">
        <img src="/imagens/menu.svg">
    </label>
    <nav>
        <ul>
            <li><a href="/Menu">Menu Principal</a></li>
            <li><a href="/Clientes">Cadastro de Clientes</a></li>
            <li><a href="/Usuario">Cadastro de Usuários</a></li>
            <li><a href="/Transacoes">Simulador de Transações</a></li>
            <li><a href="/Historico">Histórico de Transações</a></li>
            <li><a href="/ListaClientes">Lista de Clientes Cadastrados</a></li>
        </ul>
    </nav>
    <div class="container">
        <!--login img-->
        <div class="login-img">
            <img src="/imagens/clientes.svg" width="100%">
        </div>
        <!--end login img-->
        <!--login form-->
        <div class="login-form">
            <div class="title">Cadastro de Usuários </div>
            <form method="post" action="/NovoUsuario">

            </form>
        </div>
        <!--end login form-->
    </div>

</body>
</html>
